:root {
    --primary-color: hsl(25, 97%, 53%);
    --neutral-color: hsl(0, 100%, 100%);
    --secondary-color-low: hsl(217, 12%, 63%);
    --secondary-color-medium: hsl(213, 19%, 18%);
    --secondary-color-high: hsl(216, 12%, 8%);
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;
}

body {
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--secondary-color-high);
    font-size: 15px;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 700;
    color: var(--neutral-color);
    margin: 0;
}

p,
li {
    color: var(--secondary-color-low);
    margin: 0;

}



.rating-container {
    background-color: var(--secondary-color-medium);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rating-container__icon {
    position: relative;
    border-radius: 100%;
    display: block;
    width: fit-content;
    height: fit-content;
    width: 16px;
    height: 16px;
    padding: 16px;
}

.rating-container__icon::before {
    background-color: var(--secondary-color-low);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    border-radius: 100%;

}

.rating-container__icon img {
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.rating-container__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rating-container__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.rating-container__list__item {
    border-radius: 100%;
    color: var(--neutral-color);
    padding: 16px;
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
    text-align: center;
    cursor: pointer;
  
}
.rating-container__list__item  input{
    display: none;
}
.rating-container__list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color-low);
    border-radius: 100%;
    z-index: -1;
    opacity: 0.1;
}
.rating-container__list__item:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color-high);
}
.rating-container__finish__button {
    background-color: var(--primary-color);
    color: var(--secondary-color-high);
    border: none;
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}