:root {
    --primary-color: hsl(25, 97%, 53%);
    --neutral-color: hsl(0, 100%, 100%);
    --secondary-color-low: hsl(217, 12%, 63%);
    --secondary-color-medium: hsl(213, 19%, 18%);
    --secondary-color-high: hsl(216, 12%, 8%);
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;
}

body {
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--secondary-color-high);
    font-size: 15px;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 700;
    color: var(--neutral-color);
    margin: 0;
}

p,
li {
    color: var(--secondary-color-low);
    margin: 0;
}


